extends layout
block content
    div
        h2 Hello
    div
        h3 There is a new offer for you!
    ul
        li Company: #{company}
        li Category: #{category}
        li Level: #{level}
        li Japanese required: #{japaneseRequired}
